<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Student Name</label>
        <div class="col-lg-10">
          <%= form.text_field :name, id: :student_name %>
        </div>
      </div>
        <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Student Surname</label>
        <div class="col-lg-10">
          <%= form.text_field :surname, id: :student_surname %>
        </div>
      </div>
        <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Student Code</label>
        <div class="col-lg-10">
          <%= form.text_field :student_code, id: :student_student_code %>
        </div>
      </div>
    </fieldset>
    <div class="actions">
      <%= form.submit %>
    </div>
  </form>

<% end %>
